.logo {
  position: absolute;
  bottom: 0vh;
  border-radius: 50%;
}

body {
  background: whitesmoke;
  opacity: 0.9;
  padding: 0%;
  margin: 0%;
  display: flex;
  position: absolute;
}

nav {
  margin-bottom: 5%;
  top: 0%;
  position: absolute;
}

.carrosel {
  position: relative;
  top: 20vh;
  right: 25%;
}

.card {
  color: black;
  background-color: whitesmoke;
  margin-bottom: 0vh;
  margin-top: 10vh;
}

.card h5 {
  background-color: whitesmoke;
}

.card p {
  background-color: whitesmoke;
}

.header {
  width: 100%;
  text-align: center;
  background-color: rgb(241, 180, 65);
  padding-top: 17px;
}

.header ul {
  background-color: rgb(241, 180, 65);
}

.header ul li {
  display: inline-block;
  background-color: rgb(241, 180, 65);
  color: azure;
  padding-left: 3%
}

.header ul li a {
  color: azure;
  text-decoration: none;
  background-color: rgba(241, 180, 65);
}

.header ul li a:hover {
  font-size: 17px;
}

footer {
  height: 150px;
  width: 100%;
  margin-top: 60px;
  color: #fff;
  padding-top: 30px;
  background-color: rgb(241, 180, 65);
}

.container-footer {
  display: flex;
  background-color: rgb(241, 180, 65);
  padding-left: 10%;
}

.container-footer h3 {
  border-bottom: none;
  padding-bottom: 0;
  font-size: 18px;
  line-height: 25px;
  color: #c00;
  text-transform: uppercase;
  letter-spacing: .1em;
  font-weight: bold;
  background-color: rgb(241, 180, 65);
}

.trabalhe {
  width: 500px;
  background-color: rgb(241, 180, 65);
}

.trabalhe p {
  margin-top: 5px;
  background-color: rgb(241, 180, 65);
  padding-bottom: 0%;
}

.contato {
  width: 295px;
  background-color: rgb(241, 180, 65);
}

.contato ul {
  background-color: rgb(241, 180, 65);
}

.contato ul li {
  border-left: 4px solid #c00;
  margin-bottom: 10px;
  background-color: rgb(241, 180, 65);
  list-style: none;
  position: relative;
  right: 15%;
}

.redes {
  width: 165px;
  background-color: rgb(241, 180, 65);
}

.ul-redes {
  display: flex;
  background-color: rgb(241, 180, 65);
}

.ul-redes li {
  margin: 0 auto;
  background-color: rgb(241, 180, 65);
  list-style: none;
  position: relative;
  right: 25%;
  padding: 1%;
}

.ul-redes img {
  width: 50px;
  background-color: rgb(241, 180, 65);
}

.ul-redes img:hover {
  transform: scale(1.1);
}

.marca {
  float: left;
}

.banners {
  background-color: whitesmoke;
  width: 100%;
  display: flex;
  justify-content: space-around;
  position: relative;
  bottom: 35vh;
  margin-bottom: 0%;
}

.slides:hover {
  transform: scale(1.1);
}

section {
  position: relative;
  left: 25%;
  margin: 8%;
  text-align: center;
  font-size: 25px;
  border: 1px solid grey;
  border-radius: 10%;
}
section article {
  color: black;
  background-color: whitesmoke;
}

@media (max-width: 992px){
  section {
    margin-left: 20%;
    width: 38%;
    height: 60vh;
    bottom: 75vh;
  }

  .logo {
    right: 94%;
  }
}

@media (min-width: 993px) and (max-width: 1200px) {
  section {
    margin-left: 15%;
    width: 38%;
    height: 60vh;
    bottom: 75vh;
  }
  .logo {
    right: 94.8%;
  }
}

@media (min-width: 1201px) {
  section {
    margin-left: 15%;
    width: 40%;
    bottom: 60vh;
    height: 50vh;
  }
  .logo {
    right: 95.5%;
  }
}