body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
    
}

body::after {
  content: "";
  background: url(/images/background.jpg);
  width: 100%;
  background-repeat: no-repeat;
  opacity: 0.16;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: fixed;
  z-index: -1;   
}

.nome-logo a {
  text-decoration: none;
}

.container-fluid {
  width: 100%;
  margin: 0 auto;
  position: relative;
}
.header {
  position: fixed;
  width: 100%;
  top: 0;
  background-color: rgb(241, 180, 65);
  z-index: 50;
}

.logo {
  width: 220px;
  float: left;
}

.img-header {
  margin-left: 50px;
  border-radius: 50%;
  width: 100px;
}

.nome-logo {
  width: 155px;
  margin-top: 38px;
  float: left;
}
.nome-logo a {
  color: #fff;
  font-weight: bold;
  font-size: 25px;
}
.nav {
  margin-top: 60px;
  position: absolute;
  left: 47%;
}
.header_menu {
  text-align: right;
}

.header_menu ul li {
  display: inline-block;
  margin-left: 25px;
}
.header_menu ul li {
    position: relative;
    bottom: 20px;
}

.header_menu ul li a {
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: .1em;
  font-size: 15px;
  line-height: 20px;
  padding: 10px 0;
  text-decoration: none;
}
.header_menu ul li a img {
  width: 35px;
}


.header_menu ul li a:hover {
  color: #c00;
}

footer {
  bottom: 0;
    width: 100%;
    margin-top: 60px;
    color: #fff;
    padding-top: 30px;
    background-color: rgb(241, 180, 65);
  }
  
  .container-footer {
    display: flex;
    background-color: rgb(241, 180, 65);
    padding-left: 10%;
  }
  
  .container-footer h3 {
    border-bottom: none;
    padding-bottom: 0;
    font-size: 18px;
    line-height: 25px;
    color: #c00;
    text-transform: uppercase;
    letter-spacing: .1em;
    font-weight: bold;
    background-color: rgb(241, 180, 65);
  }
  
  .trabalhe {
    width: 500px;
    background-color: rgb(241, 180, 65);
  }
  
  .trabalhe p {
    margin-top: 5px;
    background-color: rgb(241, 180, 65);
    padding-bottom: 0%;
  }
  
  .contato {
    width: 295px;
    background-color: rgb(241, 180, 65);
  }
  
  .contato ul {
    background-color: rgb(241, 180, 65);
  }
  
  .contato ul li {
    border-left: 4px solid #c00;
    margin-bottom: 10px;
    background-color: rgb(241, 180, 65);
    list-style: none;
    position: relative;
    right: 15%;
  }
  
  .redes {
    width: 165px;
    background-color: rgb(241, 180, 65);
  }
  
  .ul-redes {
    display: flex;
    background-color: rgb(241, 180, 65);
  }
  
  .ul-redes li {
    margin: 0 auto;
    background-color: rgb(241, 180, 65);
    list-style: none;
    position: relative;
    right: 25%;
    padding: 1%;
  }
  
  .ul-redes img {
    width: 50px;
    background-color: rgb(241, 180, 65);
  }
  
  .ul-redes img:hover {
    transform: scale(1.1);
  }
    
.banners {
    display: flex;
    width: 100%;
    justify-content: space-around;
    flex-wrap: wrap;
}

.slides {
    margin: 10vh;;
}

section {
  background-color: white;
  position: relative;
  margin: 8%;
  text-align: center;
  font-size: 25px;
  padding: 1%;
  border: 2px solid black;
  border-radius: 10%;
  top: 10vh;
}

.slides:hover {
    transform: scale(1.1);
  }

.carrossel {
    position: relative;
    top: 18vh;
}


@media (max-width: 600px) {
  .container-fluid {
      margin: 0 auto;
      position: relative;
    } 
    .container-footer{
      display: block;
    }
    .header {
      position: relative;
      height: 330px;
    }

    .logo {
      width: 100%;
    }
    
    .nome-logo {
      width: 100%;
      margin-top: 15px;
      margin-left: 25px;
    }

    .img-header {
      margin-left: 105px;
    }
    .nome-logo a {
      display: block;
      text-align: center;
    }
    .nav {
      width: 300px;
      top: 22vh;
      left: -5%;
    }
    .nav ul li {
      width: 100%;
      text-align: center;
      margin-top: 10px;
      border-bottom: 1px solid khaki;
    }
    footer {
      margin-top: 0;
      padding-top: 20px;
      height: 400px;
    }
    .redes {
      width: 215px;
    }
    .ul-redes {
      margin-top: -10px;
    }
  
  }
