* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
body::after {
    content: "";
    background: url(img/background.jpeg);
    width: 100%;
    background-repeat: no-repeat;
    opacity: 0.16;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: fixed;
    z-index: -1;   
  }

h2 {
    color: #c00;
    text-align: center;
}
.main {
  display: flex;
  flex-direction: row;
  margin-top: 100px;
  
}
.resumo {
  width: 320px;
  height: 50vh;
  /* background-color: burlywood; */
  border-radius: 30px;
  border: solid #c00 1px;
  padding: 10px;
  position: relative;
  top: 20px;
  left: 50px;
}

.subtotal{
  display: flex;
}
.taxa-entrega {
  display: flex;
}

.ref {
  width: 215px;
  color: #c00;
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 20px;
}
.valor {
  width: 105px;
  font-size: 14px;
  text-align: right;
}
.total {
  margin-top: 20px;
  display: flex;
  border-bottom: 1px solid #c00;
}
.total-h3 {
  width: 215px;
  font-size: 21px;
  margin-bottom: 0;
  padding-bottom: 10px;
  border-bottom: none;
}
.valor-total {
  width: 105px;
  font-size: 20px;
  font-weight: bold;
  text-align: right;
}


/* .finalizar-pedido a {
  display: block;
  height: 100%;
  color: #fff;
  font-weight: bold;
  font-size: 19px;
  margin-top: 10px; 
  padding-top: 13px;
  text-align: center;
  transition: 0.3s;
  padding: 20px;
} */
.finalizar-pedido button {
  color: #fff;
  background-color: #31ab10;
  border: solid 1px #31ab10;
  height: 50px;
  border-radius: 20px;
  text-align: center;
  margin-top: 10px;
}

.finalizar-pedido button:hover {
  border-radius: 50px;
  background-color: #008000;
}


.itens-pedidos {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    border: solid #c00 1px;
    padding: 30px;
    border-radius: 30px;
}
.itens_pedidos  li {
    margin-left: 10px;
    
}

.entregas {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.entregas input {
    margin-right: 20px;
}
.lista-endereco {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    position: relative;
    top: 20px;
    border: solid #c00 1px;
    border-radius: 30px;
    margin-right: 50px;
}
.opcoes-pagamento {
    align-self: center;
    text-align: center;
    margin-bottom: 20px;
    padding: 5px;
}
.opcoes {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.opcoes input {
  margin-bottom: 10px;
  
}
.cartoes {
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 20px;
}

.cartao-online {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cartao-numeros {
  display: flex;
  
}
#validade-cartao, #CVV {
  width: 145px;
}
.validade, .cvv-cartao {
  display: flex;
  flex-direction: column;
  margin-right: 5px;
  align-items: center;

}
.dinheiro {
    display: flex;
    flex-direction: column;
}

.lista-endereco label, .cartao-online label, .dinheiro label {
    margin-bottom: 10px;
}
.lista-endereco input, .cartao-online input, .dinheiro input {
  margin-bottom: 15px;
  border: #a0a0a0 solid 2px;
  border-radius: 10px;
  width: 300px;
  height: 30px;
}
.numero-complemento {
  display: flex;
}
.numero-complemento input {
  width: 145px;
}
.numero, .complemento {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 5px;
  
}

.pagamento {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid #c00 1px;
    border-radius: 30px;
    margin-right: 50px;
    position: relative;
    top: 20px;
}
.destaque {
    color: #008000;
}
.resumo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 100px;
}
.lista-pedidos button {
    width: 40vh;
    color:  white;
    background-color: #008000;
    border: none;
    border-radius: 50px;
    padding: 10px;
    margin-bottom: 10px;
    
    
}
a {
    text-decoration: none;
  }
  .container {
    width: 960px;
    margin: 0 auto;
    position: relative;
  }
  .header {
    position: fixed;
    width: 100%;
    top: 0;
    background-color: rgb(241, 180, 65);
    /* padding: 15px 0; */
    z-index: 10;
    margin: 0;
    padding: 0;
  }
  
  .logo {
    width: 220px;
    float: left;
  }
  
  .img-header {
    margin-left: 50px;
    border-radius: 50%;
    width: 100px;
  }
  .nome-logo {
    width: 155px;
    margin-top: 38px;
    float: left;
  }
  .nome-logo a {
    color: #fff;
    font-weight: bold;
    font-size: 25px;
  }
  .nav {
    width: 585px;
    float: left;
    margin-top: 25px;
  }
  .header_menu {
    text-align: right;
  }
  
  .header_menu ul li {
    display: inline-block;
    margin-left: 25px;
  }
  .header_menu ul li {
      position: relative;
      bottom: 20px;
  }
  
  .header_menu ul li a {
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: .1em;
    font-size: 15px;
    line-height: 20px;
    padding: 10px 0;
  }
  .header_menu ul li a img {
    width: 35px;
  }
  
  
  .header_menu ul li a:hover {
    color: #c00;
  }

  footer {
    margin-top: 60px;
    width: 100vw;
    height: 150px;
    color: #fff;
    padding-top: 30px;
    background-color: rgb(241, 180, 65);
  }
  
  .container-footer {
    display: flex;
  }
  .container-footer h3 {
    border-bottom: none;
    padding-bottom: 0;
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 25px;
    color: #c00;
    text-transform: uppercase;
    letter-spacing: .1em;
    font-weight: bold
  }
  .trabalhe {
    width: 500px;
  }
  
  .trabalhe p {
    margin-top: 5px;
  }
  .contato {
    width: 295px;
  }
  .contato ul {
      list-style: none;
  }
  .contato ul li {
    border-left: 4px solid #c00;
    margin-bottom: 10px;
    padding-left: 7px;
  }
  .redes {
    width: 165px;
  }
  .ul-redes {
    display: flex;
    list-style: none;
  }
  .ul-redes li {
    margin: 0 auto;
  }
  .ul-redes img{
    width: 50px;
  }

 @media (max-width: 600px) {
    .container {
        width: 300px;
        margin: 0 auto;
        position: relative;
      } 
      .container-footer{
        display: block;
      }
      /* HEADER */
      .header {
        position: relative;
        width: 120vw;
        height: 330px;
      }
      .logo {
        width: 100%;
        display: block;
      }
      .logo a img {
        display: block;
        margin: 0 auto;
      }
      .nome-logo {
        width: 100%;
        margin-top: 15px;
      }
      .nome-logo a {
        display: block;
        text-align: center;
      }
      .nav {
        width: 300px;
        margin-top: 0;
      }
      .nav ul li {
        width: 300px;
        display: block;
        text-align: center;
        margin-top: 10px;
        margin-left: 0;
        border-bottom: 1px solid khaki;
      }
      footer {
        margin-top: 0;
        padding-top: 20px;
        height: 400px;
      }
      .redes {
        width: 215px;
      }
      .ul-redes {
        margin-top: -10px;
      }
    
    }
 