body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

body::after {
    content: "";
    background: url(./imagens/background-self.jpg);
    width: 100%;
    opacity: 0.16;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: fixed;
    z-index: -1;
}

* {
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

a {
    text-decoration: none;
}

.comida {
    font-size: 30px;
    text-align: center;
    text-decoration: underline rgb(241, 180, 65);
}

.bebidas {
    font-size: 30px;
    text-align: center;
    margin-top: 15px;
    text-decoration: underline rgb(241, 180, 65);
}

.botao-carrinho {
    display: flex;
    margin: 0 auto;
    width: 50px;
    margin-top: 2%;
    font-size: 30px;
    text-decoration: underline rgb(241, 180, 65);
}

.botaoqte {
    background-color: white;
    color: black;
    border: 2px solid rgb(241, 180, 65);
    border-radius: 20%;
}

.saidaqte {
    border-radius: 10%;
    border-color: rgb(241, 180, 65);
}

.conteiner-fluid {
    /* display: flex; */
    /* flex-direction: row; */
    margin-top: 100px;
}

.card {
    margin-top: 10px;
}

.container {
    width: 960px;
    margin: 0 auto;
    position: relative;
}

.header {
    position: fixed;
    width: 100%;
    top: 0;
    background-color: rgb(241, 180, 65);
    /* padding: 15px 0; */
    z-index: 10;
    margin: 0;
    padding: 0;
}

.logo {
    width: 220px;
    float: left;
}

.img-header {
    margin-left: 50px;
    border-radius: 50%;
    width: 100px;
}

.nome-logo {
    width: 155px;
    margin-top: 38px;
    float: left;
}

.nome-logo a {
    color: #fff;
    font-weight: bold;
    font-size: 25px;
}

.nav {
    width: 585px;
    float: left;
    margin-top: 25px;
}

.header_menu {
    text-align: right;
}

.header_menu ul li {
    display: inline-block;
    margin-left: 25px;
}

.header_menu ul li a {
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: .1em;
    font-size: 15px;
    line-height: 20px;
    padding: 10px 0;
}

.header_menu ul li a img {
    width: 35px;
}

.header_menu ul li a:hover {
    color: #c00;
}

footer {
    margin-top: 60px;
    width: 100%;
    height: 150px;
    color: #fff;
    padding-top: 30px;
    background-color: rgb(241, 180, 65);
}

.ul-redes {
    list-style: none;
}

.container-footer {
    display: flex;
}

.container-footer h3 {
    border-bottom: none;
    padding-bottom: 0;
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 25px;
    color: #c00;
    text-transform: uppercase;
    letter-spacing: .1em;
    font-weight: bold
}

.trabalhe {
    width: 500px;
}

.trabalhe p {
    margin-top: 5px;
}

.contato {
    width: 295px;
}

.contato ul li {
    border-left: 4px solid #c00;
    margin-bottom: 10px;
    padding-left: 7px;
}

.redes {
    width: 165px;
}

.ul-redes {
    display: flex;
}

.ul-redes li {
    margin: 0 auto;
}

.ul-redes img {
    width: 50px;
}

.card {
    flex-direction: row;
}

.botao {
    font-weight: bold;
    float: left;
    color: rgb(241, 180, 65);
    margin-left: 20px;
}